.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-container img {
    width: 50%;
}

.home-container p.name {
    font-size: 3.2rem;
}

.home-container p.elevator {
    font-size: 4.8rem;
}

mark {
    font-style: italic;
}

mark.designer {
    background-color:rgb(113, 250, 177);
}

mark.developer {
    background-color:rgb(113, 250, 177);
}