html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    font-family: 'Helvetica Now Text',sans-serif;
    background-color: rgba(242, 242, 247);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.wrapper { padding: 0 23%; }
@media (max-width: 696px) { .wrapper { padding: 0 8%; } }
@media (max-width: 944px) { .wrapper { padding: 0 12.5%; } }
@media (max-width: 1680px) { .wrapper { padding: 0 16%; } }

h1 {
    font-size: 3.4rem;

    margin-top: 12.0rem;
    margin-bottom: 4.0rem;
}

body { font-size: 1.4rem; } 
p { font-size: 2.2rem; }

h2 {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
}

.secondary {
    font-weight: normal;
    font-size: 2.0rem;
    color: rgba(60, 60, 67);
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: rgba(19, 19, 19);
    }

    img {
        /* opacity: 0.9; */
        filter: brightness(0.9)        
    }

    .card {
        background-color: rgba(50, 50, 50);
    }

    .secondary {
        color: rgba(235, 235, 245); 
    }
}