html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    font-family: 'Inter var', sans-serif;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.wrapper { padding: 0 23%; }

@media (max-width: 696px) {
    .wrapper { padding: 0 8%; }
}

@media (max-width: 944px) {
    .wrapper { padding: 0 12.5%; }
}
@media (max-width: 1680px) {
    .wrapper { padding: 0 16%; }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: rgba(19, 19, 19);
    }

    img {
        /* opacity: 0.9; */
        filter: brightness(0.9)        
    }
}

/* section {
    margin: 2.4rem;
} */

.card {
    background-color: rgba(50, 50, 50);
    padding: 2%;
    border-radius: 2rem;
}

body { font-size: 1.4rem; }
h1 { font-size: 3.4rem; }
p { font-size: 2.2rem; }