main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

form {
    display: flex;
    flex-direction: column;

    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    margin: 8px 0;
}

label * {
    width: 100px;
}

label input {
    padding: 4px;
    border-radius: 8px;
    overflow: visible;
}

label select {
    font-size: 16px;
}

.left-margin {
    margin-left: 24px; 
}

.details {
    font-weight: normal;
    text-align: end;
}