html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0rem;
}

p { /* TODO: - Remove this */
    margin: 0rem;
}

section {
    margin: 2.4rem;
}

body { font-size: 1.4rem; }
h1 { font-size: 2.4rem; }

/* Header */

#header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#header.blur {
    background: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#header .nav-content {
    padding: 2.4rem 3.2rem;
}

#header .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header * {
    color: #fff;
    text-decoration: none;
    margin: 0rem 0.4rem;
}

#header .nav-content :first-child {
    width: 100%;
}

/* Card */

.card {
    width: 50%;
    position: relative;

    object-fit: contain;
    overflow: hidden;

    transition: 0.3s;
}

.card-image {
    width: 100%;
    border-radius: 2.4rem;

    transition: 0.3s;
    align-self: center;
}

.card:hover {
    width: 55%;
    /* border-radius: 2.4rem; */
}

.card-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    
    box-sizing: border-box;
    padding: 3%;

    border-radius: 0rem 0rem 2.4rem 2.4rem;

    color: white;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);    
}