html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

p { /* TODO: - Remove this */
    margin: 0px;
}

/* Header */

#header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#header.blur {
    background: rgba(5, 19, 38, 0.4);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#header .nav-content {
    padding: 24px 64px;
}

#header .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header * {
    color: #fff;
    text-decoration: none;
    margin: 0px 4px;
}

#header .nav-content :first-child {
    width: 100%;
}