.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Project Card */

.project {
    position: relative;
    
    overflow: hidden;

    transition: 0.3s;
    margin: 1.6rem;
    width: 100%;
}

.project img {
    width: 100%;
    object-fit: contain;  
}

.project h2 {
    font-size: 2.2rem;
}

.project .secondary {
    font-weight: normal;
    font-size: 2.0rem;
    color: rgba(235, 235, 245);
}

@media (prefers-color-scheme: dark) {
    .project .secondary {
        /* color: rgba(60, 60, 67); */
        color: rgba(235, 235, 245);
    }
}

.project:hover .project-content {
    height: 100%;
    border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
}

.project-content {
    width: 100%;
    height: 6.0rem;
    position: absolute;
    bottom: 0;
    
    box-sizing: border-box;
    padding: 1.6rem;
    border-radius: 0rem 0rem 2.4rem 2.4rem;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);    

    transition: 0.3s;
}

.project-content p {
    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
}

.project:hover p {
    visibility: visible;
    opacity: 1;
}


/* Layout Change based on Width */

@media (max-width: 944px) {
    .projects-container {
        flex-direction: column;
    }
}